@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.cdnfonts.com/css/cocogoose');

/* Mobile first */
:root {
  --hamburger-color: #1f2833;
  --bg-color: #f2f2f2;
  --font-family: "lato", sans-serif;
  --font-family2: 'COCOGOOSE', sans-serif;
  --color1: #ff6347;
  --font-weight1: 100;
  --font-weight2: 300;
  --font-weight3: 400;
  --font-weight4: 700;
  --font-weight5: 900;
  --text-color: #696969;
  --main-color: #fff;
  --main-content: #ff5349;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  nav
}

body {
  font-family: var(--font-family);
  background-color: var(--bg-color);
}

#myNav {
  display: none;
}

.mobile-menu {
  cursor: pointer;
  z-index: 1;
  margin-top: 1em;
  margin-left: 1.5em;
}

.overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background: url('./images/austin-neill-hgO1wFPXl3I-unsplash.jpeg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.9;
}

.overlayContent {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.overlayContent a {
  list-style: none;
  text-decoration: none;
  color: #dc143c;
  font-size: 20px;
}

.mobile-link {
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  width: 50%;
  text-align: center;
  transition: 1s;
}

.mobile-link:hover {
  padding: 10px;
  background: #303030;
  border-radius: 5px;
  width: 50%;
  text-align: center;
  transition: 1s;
}

#open-nav {
  margin-top: 2em;
  margin-left: 2em;
  cursor: pointer;
}

#close-nav {
  float: right;
  margin-top: 2em;
  margin-right: 2em;
  cursor: pointer;
}

.navbar {
  display: none;
}

.header-container {
  max-width: 768px;
  margin: 0 auto;
  padding: 0 20px;
  background-image: url('./images/headerMobile.png');
  background-size: cover;
  background-position: center center;
  min-height: 100%;
  background-repeat: no-repeat;
}

.intro {
  display: flex;
  flex-direction: column;
  margin-top: 3.5em;
}

.intro h1 {
  background-image: linear-gradient(to left, #dc143c, orange, #f00);
  -webkit-background-clip: text;
  color: transparent;
  text-transform: uppercase;
  font-family: var(--font-family);
  font-weight: var(--font-weight5);
}

.intro h3 {
  color: #ec5242;
  font-weight: var(--font-weight2);
  font-size: 25px;
}

.discription {
  display: flex;
  color: var(--text-color);
  border: 3px solid white;
  font-family: var(--font-family);
  font-size: 15px;
  margin-top: 1.5em;
  border-radius: 2px;
  padding: 15px 14px;
  align-content: center;
  z-index: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.date {
  margin-top: 1em;
}

.date p {
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: 17px;
  margin-bottom: 3em;
}

#date {
  font-family: var(--font-family2);
  font-size: 24px;
  color: #525252;
}

.main-program {
  color: var(--main-color);
  display: grid;
  background: #2d333a;
  grid-template-columns: auto;
  grid-template-rows: auto;
  row-gap: 2rem;
}

.main-program a {
  text-decoration: none;
  color: var(--main-color);
  text-align: center;
  margin-top: 2rem;
  font-size: 25px;
}

hr {
  margin: 2% 45%;
  border: 1px solid #ff6347;
}

.programs {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.programs-container {
  display: flex;
  flex-direction: column;
}

.program {
  display: flex;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(3px);
  margin: 7px;
  line-height: 1;
  gap: 3em;
  padding-left: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
}

.programs .program-content {
  display: flex;
  justify-content: space-around;
}

.program-content h4 {
  color: var(--main-content);
  font-size: 20px;
  display: flex;
  align-items: center;
  margin-left: 1em;
  margin-right: 1em;
}

.program-content p {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  line-height: 1.5;
  float: right;
}

.images {
  width: 50px;
}

.button {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 90%;
  background: var(--main-content);
  color: #f8f8ff;
  text-align: center;
  align-self: center;
  height: 80px;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: 2em;
  margin-bottom: 2em;
  cursor: pointer;
}

.container2 {
  max-width: 768px;
  margin: 0 auto;
  padding: 0 20px;
  background: ghostwhite;
}

.container2 h2 {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  color: #1f2833;
}

.speakers {
  display: flex;
  margin: 2em;
}

.speakers_image {
  display: flex;
  width: 30%;
  justify-content: center;
  height: 113px;
  align-self: flex-end;
  transition: transform 2s;
  clip-path: polygon(0 0, 100% 0, 200% 100%, 200% 200%, 100% 200%, 0 100%);
  box-shadow: 5px 5px 20px 24px rgb(113 108 108 / 53%);
  background: rgb(113 108 108 / 53%);
}

.speakers_image:hover {
transform: rotate3d(0, 1, 0.5, 3.142rad);
transition: 2s;
}

.speakerDescription {
  width: 70%;
  padding-left: 10%;
  padding-top: 10%;
}

.speakerDescription h3 {
  color: var(--hamburger-color);
  font-size: 21px;
}

.short_desc {
  display: flex;
  align-items: center;
}

.short_desc h4 {
  color: var(--color1);
  font-style: italic;
  line-height: 30px;
}

.long_desc {
  width: 105%;
  font-size: 13px;
  color: var(--text-color);
}

#more_speakers {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 90%;
  background: transparent;
  color: #1f2833;
  text-align: center;
  align-self: center;
  height: 60px;
  align-items: center;
  font-size: 17px;
  margin-top: 4em;
  margin-bottom: 2em;
  margin-left: 1em;
  cursor: pointer;
  border: 1px solid #2d333a;
}

.partnership {
  display: flex;
  flex-direction: column;
  background-color: #1f2833;
  margin-top: 4em;
}

.partnership h2 {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  color: white;
}


/* nav a{
  text-decoration: none;
  list-style: none;
  color: var(--text-color);
}

.links-items {
  list-style-type: none;
} */